<div class="container-fuild">
  <div class="main-body">
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img *ngIf="null == imageBlobUrl" src="assets/images/user/non-profile.png" alt="Admin" class="rounded-circle" width="150">
                  <img *ngIf="null != imageBlobUrl"  [src]="imageBlobUrl" alt="Admin" class="rounded-circle" width="150">
                  <div class="row mt-2">
                    <div class="input-group mb-3">
                      <input id="fileInput" type="file" accept="image/png, image/gif, image/jpeg"  #fileInput (change)="onFileChanged($event)"  class=" form-control  select-profile-picture" />
                      <button [disabled]="updateFlag == true" class="btn btn-info"  (click)="uploadImageProfile()"><i class="fa fa-upload" aria-hidden="true"></i></button>
                    </div>
                  </div>
                  <div class="mt-3">
                    <h4 class="text-uppercase">{{fullName}}</h4>
                    <p class="text-uppercase text-secondary mb-1">{{roleName}}</p>
                    <!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">No.</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{null != userDtData ? userDtData.customerNo : '-'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{fullName}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{null != userDtData ? userDtData.email : '-'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{null != userDtData ? (userDtData.telephone | telephonePipe) : '-'}}
                  </div>
                </div>
                <hr>
                <!-- <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    Bay Area, San Francisco, CA
                  </div>
                </div>
                <hr> -->
                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-info" (click)="openModal()"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <app-update-profile></app-update-profile>
